.tab {
   -fx-pref-width : 200;
   -fx-pref-height : 30;
   -fx-background-color: #FFFFFF;

}

.tab-header-background {
    -fx-background-color: #FFFFFF;
}

.tab-label {
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-family: "Microsoft YaHei"
}

.text-area {
    -fx-background-color: #fffFFF;
    -fx-border-color: gray;
}

.jfx-text-field {
  -fx-text-box-border: blue ;
  -fx-focus-color: blue ;
}

